.admin-wrapper {
    display: flex;
}

.admin-content {
    width: 100%;
}

.admin-servey-dashboard {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.admin-drawer-header {
    margin: auto;
}

.admin-survey-questions-card-wrapper {
    margin-bottom: 10px;
}

.admin-survey-questions-add-new {
   float: right;
}

.admin-survey-questions-list {
    width: 100%;
    display: inline-block;
 }