.admin-wrapper {
    display: flex;
}

.admin-content {
    width: 100%;
}

.admin-servey-dashboard {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.admin-drawer-header {
    margin: auto;
}